{% load core_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrack</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/logo/fav.png">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    
    {% block header %}
        
    {% endblock header %}
        
    <!-- https://www.figma.com/design/6I9OQ48h4rqf8jQiUl6eK5/Montra---Expense-Tracker-UI-Kit-(Community)?node-id=329-26&t=w7HIsA5WTvRqskZf-0 -->
        
    <main class="main pb-12" id="main">
        <div class="page-content">
            {% block content %}

            {% endblock content %}
        </div>
    </main>
    
        
    
    {% block footer %}
        
    {% endblock footer %}
        
    <script src="/static/js/script.js"></script>
    {% block extrascript %}
    
    {% endblock extrascript %}
</body>

</html>