{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
    <div class="px-4 pt-4">
        {% if today_spendings %}
            <h3 class="text-xl font-semibold mb-4 text-gray-600">Today</h3>
            {% for spending in today_spendings %}
                <div class="flex justify-between bg-[#FCFCFC] py-3 px-4 rounded-2xl mb-3">
                    <div>
                        <h6 class="text-black text-lg font-medium">{{ spending.budget }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.note }}</span>
                    </div>
                    <div class="text-end">
                        <h6 class="text-[#FD3C4A] font-semibold text-lg">₹ {{ spending.amount|base_value }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.created_at|get_date }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if yes_spendings %}
            <h3 class="text-xl font-semibold mb-4 text-gray-600">Yesterday</h3>
            {% for spending in yes_spendings %}
                <div class="flex justify-between bg-[#FCFCFC] py-3 px-4 rounded-2xl mb-3">
                    <div>
                        <h6 class="text-black text-lg font-medium">{{ spending.budget }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.note }}</span>
                    </div>
                    <div class="text-end">
                        <h6 class="text-[#FD3C4A] font-semibold text-lg">₹ {{ spending.amount|base_value }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.created_at|get_date }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if old_spendings %}
            <h3 class="text-xl font-semibold mb-4 text-gray-600">Older</h3>
            {% for spending in old_spendings %}
                <div class="flex justify-between bg-[#FCFCFC] py-3 px-4 rounded-2xl mb-3">
                    <div>
                        <h6 class="text-black text-lg font-medium">{{ spending.budget }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.note }}</span>
                    </div>
                    <div class="text-end">
                        <h6 class="text-[#FD3C4A] font-semibold text-lg">₹ {{ spending.amount|base_value }}</h6>
                        <span class="text-sm text-[#91919F]">{{ spending.created_at|get_date }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>    
{% endblock content %}

    
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}